

.cart-page {
    margin: 80px 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #5BBA47;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 50px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #5BBA47;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
}




.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #5BBA47;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}




@media only screen and (max-width:500px) {
    
    .cart-page {
        margin: 80px 20px;
    }
    
    .cart-info p {
        display: none;
    }
}
